<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.603705907281-ie6gu6bspe1tla2md17qlcod023mmo5s</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>603705907281-ie6gu6bspe1tla2md17qlcod023mmo5s.apps.googleusercontent.com</string>
</dict>
</plist>
